@media screen and (max-width: 500px) {
    nav{
        background-color: yellowgreen;
    }
    nav .logo{
        color: #242424;
    }
    nav .detail a span{
        display: block;
        color: #242424;
    }
    nav .detail ul{
        display: none;
    }
  } 